[Unit]
Description=Dropbox

[Service]
ExecStart=/home/pan/.dropbox-dist/dropbox
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=default.target
