[user]
	name = Pan Thomakos
	email = pan.thomakos@gmail.com
[includeIf "gitdir:~/src/github.com/InVisionApp/"]
	path = ~/.gitconfig.invision
[alias]
	unstage = reset HEAD --
	co = checkout
	br = branch
	ob = rev-parse --abbrev-ref --symbolic-full-name @{u}
	ci = commit
	st = status
	mote = remote -v
	last = log -1
	ba = branch -a
	s = status -sb
	splat = log --oneline --decorate
	yank = pull --rebase
	l = log --graph --abbrev-commit --date=relative --pretty=format:\"%C(yellow)%h%Creset -%C(red)%d%Creset %s %Cgreen(%ar) %C(bold blue)<%an>%Creset\"
	r = !git --no-pager l -20
	ra = !git r --all
	di = diff
	dc = diff --cached
	cp = cherry-pick
	vim = !vim .git/index
	up = "!git remote update -p; git merge --ff-only @{u}"
	logs = log --show-signature
	review = push origin HEAD:refs/for/master
	sl = stash list
	ss = stash save
	sp = stash pop
	sa = "!sh -c 'git stash apply stash@{$1}' -"
	sx = "!sh -c 'git stash drop stash@{$1}' -"
	ds = "!sh -c 'git stash show -p stash@{$1}' -"
	rhm = reset --hard origin/master
	rho = !git reset --hard `git ob`
	tip = !git rev-list `git merge-base origin/master HEAD`..HEAD | tail -n1
	fix = !git commit --fixup `git tip`
	tags = tag -l
	m = checkout master
	ca = commit --amend
	can = commit --amend --no-edit
	cpy = !git rev-parse HEAD | tr -d '\n' | xclip -selection c
[core]
	editor = vim
	whitespace = trailing-space
	excludesfile = ~/.global.gitignore
	quotepath = false
	ignorecase = false
	attributesfile = ~/.gitattributes
[color]
	ui = true
[push]
	default = upstream
[url "git@github.com:"]
	insteadOf = https://github.com/
[rerere]
	enabled = true
[diff]
	compactionHeuristic = true
