[submodule ".vim/bundle/fugitive"]
	path = .vim/bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/unimpaired"]
	path = .vim/bundle/unimpaired
	url = http://github.com/tpope/vim-unimpaired
[submodule ".vim/bundle/haml"]
	path = .vim/bundle/haml
	url = http://github.com/tpope/vim-haml
[submodule ".vim/bundle/surround"]
	path = .vim/bundle/surround
	url = http://github.com/tpope/vim-surround
[submodule ".vim/bundle/tabular"]
	path = .vim/bundle/tabular
	url = https://github.com/godlygeek/tabular
[submodule ".vim/bundle/commentary"]
	path = .vim/bundle/commentary
	url = git://github.com/tpope/vim-commentary.git
[submodule "/Users/panayiotisthomakos/.vim/bundle/markdown"]
	path = .vim/bundle/markdown
	url = https://github.com/tpope/vim-markdown
[submodule "/Users/pan/.vim/bundle/abolish"]
	path = /Users/pan/.vim/bundle/abolish
	url = git://github.com/tpope/vim-abolish
[submodule "/Users/pan/.vim/bundle/ctrlp"]
	path = /Users/pan/.vim/bundle/ctrlp
	url = git://github.com/kien/ctrlp.vim.git
