.boom
.boom.conf
.CFUserTextEncoding
.bash_history
.bash_profile
.bash_profile.macports-saved_2010-08-02_at_11:09:27
.csv
.dbshell
.dropbox/
.DS_Store
.dvdcss
.eyrc
.eyrc.strava
.fit.done
.fontconfig/
.gdb_history
.infinity_test
.irb-history
.irb_history
.irbrc
.lesshst
.monit.*
.mysql_history
.netrwhist
.pow
Projects/
.pry_history
.psql_history
.rails-plugin-sources
*.rbc
.rbx/
.rdebug_hist
.rdebugrc
.recently-used.xbel
.rnd
.rubinius_last_error
.rvm
.s3cfg
.shef_history
.ssh
.Trash
.tuneclone.data
.viminfo
.Xauthority
.zcompdump
A*
C*
D*
E*
F*
H*
I*
J*
K*
L*
M*
N*
O*
P*
Q*
R*
U*
V*
W*
X*
Y*
Z*
a*
c*
d*
e*
f*
h*
i*
j*
k*
l*
m*
n*
o*
p*
q*
r*
u*
v*
w*
x*
y*
z*
