[user]
	name = Pan Thomakos
	email = pan.thomakos@gmail.com
[alias]
	unstage = reset HEAD --
	co = checkout
	br = branch
	ci = commit
	st = status
	mote = remote -v
	last = log -1
	ba = branch -a
	s = status -sb
	splat = log --oneline --decorate
	yank = pull --rebase
	l = log --graph --abbrev-commit --date=relative --pretty=format:\"%C(yellow)%h%Creset -%C(red)%d%Creset %s %Cgreen(%ar) %C(bold blue)<%an>%Creset\"
	r = !git --no-pager l -20
	ra = !git r --all
	di = diff
	dc = diff --cached
	cp = cherry-pick
	vim = !vim .git/index
	sl = log --pretty=\"format:%h %G? %aN %s\"
	up = "!git remote update -p; git merge --ff-only @{u}"
	logs = log --show-signature
	review = push origin HEAD:refs/for/master
[core]
	editor = vim
	whitespace = trailing-space
	excludesfile = ~/.global.gitignore
	quotepath = false
	ignorecase = false
[color]
	ui = true
[push]
	default = upstream
[url "git@github.com:"]
	insteadOf = https://github.com/
