Applications/
.boom
.boom.conf
.CFUserTextEncoding
.bash_history
.bash_profile
.bash_profile.macports-saved_2010-08-02_at_11:09:27
.bundler/
.cache
.claws.yml
.csv
.cups/
.dbshell
Desktop/
Documents/
Downloads/
Dropbox/
.dropbox/
.DS_Store
.dvdcss
.eyrc
.eyrc.strava
.fit.done
.fontconfig/
.gdb_history
.gem/
Gemfile.lock
.infinity_test
.irb-history
.irb_history
.keepassx/
.lesshst
Library/
.monit.*
Movies/
Music/
.mysql_history
.netrwhist
.npm/
.passenger/
*.pid
Pictures/
.pow
Projects/
.pry_history
.psql_history
Public/
.rails-plugin-sources
*.rbc
.rbenv/
.rbx/
.rdebug_hist
.rdebugrc
.recently-used.xbel
.rnd
.rubinius_last_error
.rvm
.s3cfg
.shef_history
.ssh
*.swp
.tectonicus
.Trash
.tuneclone.data
.vim/spell/
.vimgolf/
.viminfo
.Xauthority
.zcompdump
