abs/
.ansible/
Applications/
.aws/
.boom
.boom.conf
.CFUserTextEncoding
.bashrc
.bash_history
.bash_logout
.bash_profile
.bash_profile.macports-saved_2010-08-02_at_11:09:27
.bundler/
.cabal
.cache
.cargo/
.claws.yml
.compiz/
.config/*
!.config/mimeapps.list
!.config/systemd/
.csv
.cups/
.dbshell
.dbus/
Desktop/
.divshot/
.docker/
.dmrc
Documents/
Downloads/
Dropbox/
.dropbox/
.dropbox-dist/
.dropbox-master/
.DS_Store
.dvdcss
.ecryptfs
.elinks/
.env
.erlang.cookie
.esd_auth
examples.desktop
.eyrc
.eyrc.strava
.fit.done
.fontconfig/
.gconf/
.gdb_history
.gem/
.ghc/
.gnome/
.gnupg/*
!.gnupg/gpg.conf
.gpg/
.gpg-agent-info
.hex/
.ICEauthority
.icedtea/
.infinity_test
.irb-history
.irb_history
.irssi/away.log
.java/
.keepassx/
.keybase/
.lesshst
Library/
.local/
.macromedia/
.mix/
.monit.*
Movies/
.mozilla/
.mplayer/
Music/
.mutt/cache/bodies/*
!.mutt/cache/bodies/.gitkeep
.mutt/cache/headers/*
!.mutt/cache/headers/.gitkeep
.mysql_history
.netrc
.netrwhist
.npm/
.openambit/
.passenger/
*.pid
Pictures/
.pki/
playbook.retry
.pomodoro_session
.pow
.Private
.profile
Projects/
.pry_history
.psql_history
Public/
.rails-plugin-sources
*.rbc
.rbx/
.rdebug_hist
.rdebugrc
.recently-used.xbel
.rnd
.rubinius_last_error
.rvm
.s3cfg
.shef_history
.ssh/
!.ssh/config
.sqlite_history
.subversion/
*.swp
sync
sync.log
.sync
.tectonicus
.thumbnails/
.Trash
.tuneclone.data
.vagrant.d/
.vim/bundle/
.vim/haskellmode.config
.vim/plugged/
.vim/spell/
.vimgolf/
.viminfo
.wine-pipelight/
.wine-pipelight64/
.wine/
.Xauthority
.xmonad/history
.xmonad/xmonad-x86_64-linux
.xmonad/xmonad.errors
.xmonad/xmonad.hi
.xmonad/xmonad.o
.xmonad/lib/XMonad/Layout/FullMaximize.hi
.xmonad/lib/XMonad/Layout/FullMaximize.o
.xsession-errors
.xsession-errors.*
.zcompdump
.zoom
