[submodule ".rbenv"]
	path = .rbenv
	url = git://github.com/sstephenson/rbenv.git
[submodule "ruby-build"]
	path = ruby-build
	url = git://github.com/sstephenson/ruby-build.git
[submodule ".vim/autoload"]
	path = .vim/autoload
	url = https://github.com/junegunn/vim-plug
