snippet spec "Basic RSpec structure" b
describe $1 do
end
endsnippet

snippet it "Basic RSpec assertion" b
it '$1' do
end
endsnippet

snippet context "Basic RSpec context" b
context '$1' do
end
endsnippet

snippet pry "Pry Debugging Insert" b
require 'pry'
binding.pry
endsnippet
