snippet convey "Basic Convey Structure" b
Convey("$1", func(){
})
endsnippet

snippet trun "Basic Test Run" b
t.Run("$1", func(t *testing.T) {
})
endsnippet

snippet it "Basic Ginko Example" b
It("$1", func() {
$2
})
endsnippet

snippet cont "Basic Ginko Context" b
Context("$1", func() {
$2
})
endsnippet
