---
- name: Install ASDF
  become: no
  git:
    repo: 'https://github.com/asdf-vm/asdf.git'
    dest: "{{home}}/.asdf"
    version: v0.4.0
    update: no

- name: Update ASDF
  shell: asdf update
  become: no

- command: asdf plugin-list
  become: no
  register: asdf_plugins
  ignore_errors: True

- name: Add ASDF Plugins
  shell: asdf plugin-add {{item}}
  become: no
  when: asdf_plugins.stdout.find('{{item}}') == -1
  with_items:
    - crystal
    - elixir
    - erlang
    - golang
    - nodejs

- name: Add NodeJS OpenPGP Keys
  command: '{{ home }}/.asdf/plugins/nodejs/bin/import-release-team-keyring'
  become: no

- name: Install ASDF Language Versions
  shell: asdf install
  become: no
  args:
    chdir: "{{home}}"

- name: Install Yarn
  become: no
  npm:
    name: yarn
    state: latest
    global: yes

- name: Install Elm
  become: no
  npm:
    name: "{{item}}"
    state: latest
    global: yes
  with_items:
    - elm
    - elm-test
    - elm-oracle
    - elm-format
