---
- pacman: name=dropbox state=present
- include: yaourt.yml pkg=dropbox-cli
- file: path={{ home }}/.dropbox-dist state=directory mode=111
- service: name=dropbox@{{ user.name }} enabled=yes state=started

- stat: path={{ home }}/Dropbox/config/ssh.config
  become: no
  register: ssh
- file: src={{ home }}/Dropbox/config/ssh.config
        dest={{ home }}/.ssh/config
        state=link
        force=yes
  become: no
  when: ssh.stat.exists

- stat: path={{ home }}/Dropbox/sync
  become: no
  register: sync
- file: src={{ home }}/Dropbox/sync
        dest={{ home }}/sync
        state=link
        force=yes
  become: no
  when: sync.stat.exists

- stat: path={{ home }}/Dropbox/sync/vpn/etc
  become: no
  register: vpn
- copy:
    src: "{{ item }}"
    dest: /etc/openvpn/client/
    owner: root
    mode: "0600"
  with_fileglob:
    - "{{ home }}/Dropbox/sync/vpn/etc/*.conf"
  when: vpn.stat.exists
