---
- include: yay.yml pkg=nvm

- name: Install and Use NodeJS
  shell: ". /usr/share/nvm/init-nvm.sh && nvm install {{ node }} && nvm alias default {{ node }}"
  args:
    chdir: "{{ home }}"
    executable: /bin/bash

- name: Install Yarn
  become: no
  npm:
    name: yarn
    state: latest
    global: yes

- name: Install Elm
  become: no
  npm:
    name: "{{item}}"
    state: latest
    global: yes
  with_items:
    - elm
    - elm-test
    - elm-oracle
    - elm-format
